absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.9.3
blinker==1.6.2
bs4==0.0.1
cachetools==4.2.1
certifi==2023.5.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
dependency-injector==4.39.1
distlib==0.3.6
docker==5.0.3
docopt==0.6.2
exceptiongroup==1.1.2
filelock==3.12.2
Flask==2.3.2
fonttools==4.28.2
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
google-api-core==2.11.1
google-api-python-client==2.93.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
grpcio==1.44.0
gspread==3.7.0
h11==0.14.0
httplib2==0.22.0
idna==2.10
importlib-metadata==4.11.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
kiwisolver==1.3.2
lean==1.0.97
limepy==0.1.8
limesurveyrc2api==1.0.0
linkedin-scraper==2.11.2
lxml==4.9.1
Markdown==3.3.6
MarkupSafe==2.1.3
maskpass==0.3.6
matplotlib==3.5.0
multidict==6.0.2
numpy==1.19.2
oauthlib==3.1.0
outcome==1.2.0
packaging==21.3
pandas==1.1.3
Pillow==8.4.0
pipreqs==0.4.13
platformdirs==3.8.0
protobuf==4.23.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
pyDeprecate==0.3.1
Pygments==2.12.0
pygsheets==2.0.6
pynput==1.7.6
pyparsing==3.0.6
pyshortcuts==1.8.2
PySocks==1.7.1
python-certifi-win32==1.6.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytorch-lightning==1.5.6
pytz==2020.1
pywin32==227
PyYAML==6.0
quantconnect-stubs==14322
requests==2.27.1
requests-oauthlib==1.3.0
rich==9.10.0
rsa==4.7.1
scipy==1.5.2
seaborn==0.11.2
selenium==4.10.0
setuptools-scm==6.3.2
six==1.15.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==2.1.0
tomli==1.2.2
torch==1.10.2
torchmetrics==0.7.2
torchsummary==1.5.1
torchvision==0.11.3
tqdm==4.62.3
trio==0.22.1
trio-websocket==0.10.3
typing-extensions==3.10.0.2
uritemplate==4.1.1
urllib3==1.26.2
virtualenv==20.23.1
webdriver-manager==3.8.6
websocket-client==1.3.3
Werkzeug==2.3.6
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.12.0
yarg==0.1.9
yarl==1.7.2
zipp==3.7.0
